<form class="" action="/recipes" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Ingredients: <input type="text" name="ingredients" value=""></p>
  <p>Cooking Time: <input type="integer" name="cook_time" value=""></p>
  <input type="submit" name="" value="">
</form>
